* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* ***********header******************* */

header {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px gray;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    background-color: #fff;
}

header .logo {
    padding: 10px 30px;
    font-size: 32px;
    font-weight: bold;
}

.logo a {
    color: #000000;
}

header nav {
    margin-right: 30px;
}

header nav li {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

header nav li a {
    color: #000;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

header nav li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #25252d;
    bottom: 0;
    left: 0;
    scale: 0;
    transition: all 0.3s ease-in;
}

header nav li:hover::after {
    scale: 1;
}

header nav li:hover a {
    font-size: 22px;
}

.icon {
    display: none;
}

/* *******************main******************* */

section {
    padding-bottom: 80px;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro .image {
    width: 70%;
}

.intro .image img {
    width: 100%;
}

.social {
    padding: 10px;
    position: fixed;
    left: -60px;
    z-index: 999;
    background-color: #000000;
    display: flex;
    border-radius: 0 30px 30px 0;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    animation: slideRight 1.5s ease;
    transition: all 0.3s ease-in;
}

.social:hover {
    left: 0px;
}

@keyframes slideRight {

    0%,
    100% {}

    50% {
        margin-left: 0;
        left: 0;
    }
}

.social a i {
    padding: 15px;
    margin-left: 2px;
    font-size: 19px;
}

.social a {
    border-radius: 50%;
    height: 50px;
    color: #fff;
    width: 50px;
    position: relative;
    font-size: 14px;
}

.social a:nth-child(1) {
    background-color: #3d3dd3
}

.social a:nth-child(2) {
    background-color: #e23434
}

.social a:nth-child(3) {
    background-color: #ffffff;
    color: #000000;
}

.social a:nth-child(4) {
    background-color: #2f70d8
}

.social a span {
    color: #fff;
    position: absolute;
    left: 55px;
    top: 15px;
    background-color: #000000;
    padding: 8px 15px;
    font-weight: 600;
    width: 60px;
    border-radius: 0 25px 25px 0;
    display: none;
    z-index: 222;
}

.social a:hover span {
    display: block;
}


.info {
    width: 80%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px;
}

.info h1 {
    font-size: 50px;
    background-color: transparent;
    margin: 0;
    animation: showUp 0.5s ease-in;
}

@keyframes showUp {
    0% {
        margin-top: 10rem;
    }

    100% {
        margin-top: 0;
    }
}

.info h1 span {
    color: #2b84a5;
}

.info button {
    padding: 18px 25px;
    background-color: #000000;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease;
    box-shadow: 4px 5px 5px #474545;
}

button:hover {
    background-color: #2b84a5;
}

/* **************about section************ */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-top: 90px;
    background-color: #e6e6e6;
    position: relative;
}

.about::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(225deg, #ffffff 25%, transparent 25%);
    background-position: 0 0;
}


.title {
    width: 30%;
    background-color: #000000;
    height: 80px;
    padding: 2px 30px;
    border-radius: 20px 80px;
}

.about h1 {
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius: 25px 8px;
    margin-bottom: 4rem;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 36px;
}

.about h1::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #fff;
    bottom: -6px;
    left: 0;
}

.about h1::after {
    content: "Me";
    width: 20%;
    font-size: 18px;
    font-weight: 00;
    background-color: #000000;
    position: absolute;
    height: 15px;
    bottom: -8px;
    left: 38%;
}

.aboutContent {
    display: flex;
    width: 80%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.img img {
    height: 100%;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #000000;

    /* animation: slideRight 0.5s ease-in; */
}

.detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    /* margin-bottom: 60px; */
}

.detail article {
    margin-bottom: 15px;
    position: relative;
}

.detail article::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -15px;
    left: 0;
    background-color: #474545;
}

.detail .qualification {
    display: flex;
    align-items: start;
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
}

.qualification h3 {
    text-decoration: underline;
    margin-bottom: 2rem;
}

.qualification li {
    list-style: disc;
}

/* ***********tech stack section****************** */

.tect-stack {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    height: 20rem;
    gap: 5rem;
}

.tect-stack h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.tect-stack .techs {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.tect-stack .techs img {
    height: 5rem;
    width: 5rem;
}

/* ***********project section****************** */

.project {
    padding-top: 50px;
    padding-bottom: 7rem;
}

.projectSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.project h1 {
    text-align: center;
    font-size: 55px;
    position: relative;
    padding: 10px;
    text-transform: uppercase;
}

.projectcard {
    width: 18rem;
    padding: 25px;
    height: 24rem;
    border-radius: 16px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.projectcard .img {
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

.projectcard .img p {
    position: absolute;
    bottom: -100%;
    color: #cfcece;
    background-color: #25252d95;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in;
    justify-content: center;
    font-weight: 600;
}

.projectcard:hover p {
    bottom: 0;
}

.projectcard .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.aboutProject {
    margin-top: 15px;
    height: 30%;
}

.aboutProject a button {
    text-transform: capitalize;
    padding: 8px 0px;
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;
    border: none;
    background-color: #000000;
    color: #fff;

}

.aboutProject a button:hover {
    background-color: #3d3d4b;
}

/* ******************contact page ************************* */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    border-top-left-radius: 20% 10%;
    border-top-right-radius: 20% 10%;
    padding-bottom: 100px;
}

.contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 30px;
    padding-top: 80px;
    width: 80%;
    padding-bottom: 80px;
}

.info-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    animation: slideRight 1s ease;
}

.info-box h1 {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
    color: #000;
}

.info-box div {
    margin: 15px 0;
    font-size: 20px;
    color: #000;
}

.info-box a {
    color: #000;
}


form {
    padding: 0 15px;
    border-radius: 8px;
    width: 100%;
}

form span {
    color: red;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form input {
    margin: 15px;
    padding: 20px 15px;
    width: 100%;
    border-radius: 8px;
    outline: none;
}

form textarea {
    margin: 15px;
    padding: 10px 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    outline: none;
    max-height: 100px;
    border-radius: 8px;
    resize: none;
    border: 2px solid #3d3d4b;
}

form button {
    margin-top: 15px;
    padding: 20px 50px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    font-weight: bold;
    width: 100%;
    background-color: #000;
}

form button:hover {
    color: #fff;
    background-color: #25252d;
    cursor: pointer;
}

form .red {
    color: #f81717;
}

form .blue {
    color: #2f70d8;
}

/* ******************* footer ****************** */

footer {
    padding: 30px;
    text-align: center;
    background-color: #000000;
    color: #fff;
}


/* -----------------responsiveness-------------------- */

@media screen and (max-width: 768px) {

    header {
        width: 100%;
    }

    header .logo {
        font-size: 25px;
        padding: 10px 15px;
    }

    .home {
        padding: 40px 0;
    }

    .intro {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .info {
        width: 80%;
        text-align: center;
        padding: 0;
    }

    .info h1 {
        font-size: 50px;
    }

    .aboutContent {
        flex-direction: column;
    }

    .about .title {
        width: 50%;
    }

    .aboutContent .detail {
        width: 100%;
    }

    .project {
        padding-top: 80px;
    }

    .projectSection {
        flex-direction: column;
        margin-top: 4rem;
        gap: 60px;
    }

    .contactSection {
        flex-direction: column;
        width: 80%;
        margin: auto;
        margin-top: 10rem;
        text-align: center;
        padding-bottom: 150px;
    }
}


@media screen and (max-width: 620px) {
    header nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        padding-top: 100px;
        justify-content: center;
        background-color: #e6e6e6;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    .home {
        padding: 0;
    }

    .intro .image {
        width: 22rem;
    }

    .info h1 {
        font-size: 30px;
    }

    nav ul {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    header nav li {
        display: block;
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid #3d3d4b80;
    }

    .icon {
        font-size: 30px;
        display: block;
        z-index: 999;
        padding: 10px;
    }

    .close {
        display: none;
    }

    .about h1 {
        font-size: 30px;
        text-align: center;
    }

    .about h1::after {
        width: 40%;
    }

    .aboutContent article {
        text-align: center;
    }

}